
@{
    ViewBag.Title = "InternalError";
}

<div class="broken-page">
    <div class="broken-page__content">
        <div class="broken-page__primary-image-container">
            <img alt="The Best AngularJS Video Tutorials on the Internet #egghead.io" class="broken-page__primary-image" src="//d1xwtr0qwr70yv.cloudfront.net/assets/eggo-76fd460b0a59b923bb076769edad068a.png">
        </div>
        <div>
            <h1 class="broken-page__title">500</h1>
            <h3 class="broken-page__sub-title">Internal server error!.</h3>
            <p class="broken-page__text">
                <em>
                    We're sorry but something went wrong.
                </em>
            </p>
        </div>
    </div>
</div>

