
@{
    ViewBag.Title = "Notfound";
}

<div class="broken-page">
    <div class="broken-page__content">
        <div class="broken-page__primary-image-container">
            <img alt="The Best AngularJS Video Tutorials on the Internet #egghead.io" class="broken-page__primary-image" src="//d1xwtr0qwr70yv.cloudfront.net/assets/eggo-76fd460b0a59b923bb076769edad068a.png">
        </div>
        <div>
            <h1 class="broken-page__title">404</h1>
            <h3 class="broken-page__sub-title">Page not found!.</h3>
            <p class="broken-page__text">
                <em>
                    Sorry, nothing can be found at this URL. We've provided a search
                    box below. Type what you'd like to learn about!
                </em>
            </p>

            <section class="search-input-container">
                <div id="js-react-on-rails-context" style="display:none" data-rails-context="{&quot;inMailer&quot;:false,&quot;i18nLocale&quot;:&quot;en&quot;,&quot;i18nDefaultLocale&quot;:&quot;en&quot;,&quot;href&quot;:&quot;https://egghead.io/technolog&quot;,&quot;location&quot;:&quot;/technolog&quot;,&quot;scheme&quot;:&quot;https&quot;,&quot;host&quot;:&quot;egghead.io&quot;,&quot;port&quot;:null,&quot;pathname&quot;:&quot;/technolog&quot;,&quot;search&quot;:null,&quot;httpAcceptLanguage&quot;:&quot;vi&quot;,&quot;serverSide&quot;:false}"></div>
                <div class="js-react-on-rails-component" style="display:none" data-component-name="AutoCompleteSearch" data-props="{}" data-trace="false" data-dom-id="AutoCompleteSearch-react-component-a9205948-667d-42fe-a11f-876e211f5e4f"></div>
                <div id="AutoCompleteSearch-react-component-a9205948-667d-42fe-a11f-876e211f5e4f"><div data-reactroot="" class="SearchBar__search_bar_wrapper__1z4Oi"><div class="SearchBar__search_bar_field__3kicx"><input type="text" class="SearchBar__search_bar_input__wldfQ" maxlength="100" autocapitalize="none" autocomplete="off" autocorrect="off" value="" placeholder="search 'react redux'"><!-- react-text: 4 --><!-- /react-text --><input type="submit" class="SearchBar__icon___zsxQ SearchBar__search_bar_submit__2XSOl" value="search"></div></div></div>
            </section>
        </div>
    </div>
</div>