@model Cybirst.Controllers.SigninModel

@{
    ViewBag.Title = "SignIn";
}

<section class="section">
    <div class="container">
        <div class="title-subtitle-block">
            <h2 class="title">Sign in to your egghead account.</h2>
        </div>

        <div class="narrow-form-holder sign-form-holder">
            <div class="colored-box grey">
                @using (Html.BeginForm("SignIn", "Auth"))
                {
                <form class="simple_form form-vertical" accept-charset="UTF-8" method="post">
                    <div class="form-group email optional user_email">
                        <label class="email optional control-label" for="user_email">Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "string email optional form-control form-control", @placeholder = "Email", @autofocus = "autofocus" })
                    </div>
                    <div class="form-group password optional user_password">
                        <label class="password optional control-label" for="user_password">Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "password optional form-control", @placeholder = "Password", @type = "password" })
                    </div>
                    <div class="form-group">
                        <div class="checkbox custom-checkbox">
                            <label>
                                <span class="icon-holder">
                                    <input class="optional" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1">
                                    <span class="checkbox-icon"></span>
                                </span>
                                <span class="label-text">
                                    Remember me
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group flexbox-between">
                        <input type="submit" name="commit" value="Sign In" class="btn btn custom-btn custom-btn-secondary custom-btn-blue" >
                        <a class="btn custom-btn custom-btn-secondary custom-btn-grey" href="/users/auth/github">
                            <i class="fa fa-github"></i>
                            Sign in with Github
                        </a>
                    </div>
                    <br>
                    <div class="form-group text-center">
                        Need to create an
                        account? <a class="underlined action" href="/users/sign_up">Sign up</a>
                    </div>
                    <div class="form-group text-center">
                        Forgot your
                        password? <a class="underlined action" href="/users/password/new">Recover it</a>
                    </div>
                </form>
                }
            </div>
        </div>
    </div>
</section>

