<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        @ViewBag.Student.UID
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a href="/profile/@ViewBag.Student.UID">User</a>
        </li>
        <li>
            <a href="/membership">Membership</a>
        </li>
        <li>
            <a href="/watch_later">Watch Later Playlist</a>
        </li>
        <li><a href="/playlists">All Playlists</a></li>
        <li>
            <a class="btn-nav btn-nav-secondary" rel="nofollow" href="/users/sign_out">Sign Out</a>
        </li>
    </ul>
</li>
<li class="hidden-xs">
    <a href="/profile/@ViewBag.Student.UID" class="header__userpic-link">
        <img class="header__userpic" alt="dev-sflircs" src="@ViewBag.Student.SmAvatar" width="128" height="128">
    </a>
</li>

