@{ 
    int[] aTest = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
}

<div class="technology-pages-wrapper">

    <section class="hero-technology">
        <div class="container">
            <div class="title-holder">
                <div class="tech-logo-holder">
                    <img class="tech-logo" src="//d1xwtr0qwr70yv.cloudfront.net/assets/tech/react-7b90239e805d8b06ca263be745f8ad5f.svg" alt="React">
                    <h3 class="tech-title">React</h3>
                </div>
                <div class="slogan-holder">
                    <h3 class="slogan"></h3>
                </div>
            </div>
            <p>Lots of people use React as the V in MVC. Since React makes no assumptions about the rest of your technology stack, it's easy to try it out on a small feature in an existing project.</p>
        </div>
    </section>

    <div class="section-technology-details">
        <div class="section-inner">
            <div class="section-titles-holder">
                <div class="subtitle-holder">
                    <h4 class="title hidden-xs">React COURSES</h4>
                    <div class="total-items">
                        <span class="badge badge-info hidden-xs">12</span>
                        <span class="description no-bar hidden-xs">total courses</span>
                        <span class="visible-xs">
                            COURSES <span class="badge badge-info">12</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="subsection subsection-courses">
                <div class="grid-row">
                    @foreach (var a in aTest)
                    {
                        <div class="grid-item">
                            <div class="card-course">
                                <img class="course-author-avatar" src="https://d2eip9sf3oo6c2.cloudfront.net/instructors/avatars/000/000/007/bio/Cropped-Portrait-Attempt.jpg?1391746899">
                                <div class="card-course-inner">
                                    <h4 class="course-subtitle">WATCH Joe Maddalone's COURSE</h4>
                                    <h3 class="course-title">Start Using React to Build Web Applications</h3>
                                    <div class="card-content">
                                        <div class="course-image-holder">
                                            <img class="course-image" alt="Start Using React to Build Web Applications" src="https://d2eip9sf3oo6c2.cloudfront.net/series/square_covers/000/000/003/thumb/course_image.png?1457454986">
                                        </div>
                                        <div class="course-description-holder">
                                            <div class="description-text">
                                                <p>React is a "javascript library for building user interfaces" from the fine folks at Facebook &amp; Instagram. It strictly focus...</p>
                                            </div>
                                            <div class="lessons-in-course-number-holder">
                                                <div class="progress-bar-row">
                                                    <div class="value-holder">
                                                        <span class="total">21</span> lessons
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="link-overlay" id="tech_page_course_react-fundamentals" href="/courses/react-fundamentals"></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div><!--section-inner-->
    </div><!--section-technology-details-->
</div>