
@{
    ViewBag.Title = "Profile";
}
<div class="profile-page">
    <div class="profile-page__inner">
        <div class="profile-page__sections-holder">
            <div id="js-react-on-rails-context"></div>
            <div class="js-react-on-rails-component" style="display:none"></div>
            <div>
                <aside data-reactroot="" class="profile__sidebar">
                    <nav class="profile__sidebar-nav">
                        <ul class="profile__sidebar-nav-list" role="tablist" id="profile__sidebar-nav-list">
                            <li><a href="">Dashboard</a></li>
                            <li><a href="">Edit Profile</a></li>
                            <li><a href="">Subscription Information</a></li>
                            <li><a href="">Watch Later</a></li>
                        </ul>
                    </nav>
                </aside>
            </div>
            <main class="profile__content">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab-settings-home">
                        <section>
                            <div class="profile__achievements-container">
                                <strong>ACHIEVEMENTS</strong>
                                <hr>
                                <div class="profile__achievements">
                                    <div class="profile__achievement-item">
                                        <p>0</p>
                                        <div class="profile__achievement-description">
                                            Minutes Watched
                                        </div>
                                    </div>
                                    <div class="profile__achievement-item">
                                        <p>0</p>
                                        <div class="profile__achievement-description">
                                            Lessons Watched
                                        </div>
                                    </div>
                                </div>
                                <strong>COURSES IN PROGRESS</strong>
                                <hr>
                            </div>
                            <div class="js-react-on-rails-component" style="display:none"></div>
                            <div>
                                @foreach (var enrollment in ViewBag.Student.Enrollments)
                                {
                                    <div data-reactroot="" class="profile__course-card">
                                        <div class="profile__course-card-info">
                                            <img src="https://d2eip9sf3oo6c2.cloudfront.net/tech/defaults/course_image_thumb_node.png" class="profile__course-card-img">
                                            <div>
                                                <h3 class="profile__course-card-title">@enrollment.Course.Name</h3>
                                                <p class="profile__course-card-time-left">25:44 left to go (11 more lessons)</p>
                                            </div>
                                            <a href="https://egghead.io/courses/introduction-to-node-servers-with-hapi-js" class="profile__play-button">
                                                <i class="fa fa-play fa-lg"></i>
                                            </a>
                                        </div>
                                        <div>
                                            <div class="profile__course-card-next-up-container flexbox-between flexbox-center">
                                                <div class="profile__course-card-next-up-text">Up Next</div>
                                                <div class="profile__course-card-next-lesson">
                                                    <a href="https://egghead.io/lessons/node-js-hapi-js-logging-with-good-and-good-console">hapi.js - Logging with good and good-console</a>
                                                </div>
                                                <div class="profile__course-card-next-lesson-time">02:45</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="profile__achievements-container">
                                <strong>RECENTLY WATCHED</strong>
                                <hr>
                            </div>
                            <div class="profile__lesson-card-container">
                                <a class="profile__lesson-card" href="/lessons/node-js-hapi-js-up-and-running">
                                    <div class="profile__lesson-card-title-container flexbox-center">
                                        <img src="https://d2eip9sf3oo6c2.cloudfront.net/tech/defaults/course_image_thumb_node.png" alt="Course image thumb node">
                                        <div class="profile__lesson-card-title">hapi.js - Up and running</div>
                                    </div>
                                    <div class="profile__lesson-card-time-container flexbox-center">
                                        <div class="profile__lesson-card-time">1:40</div>
                                        <i class="fa fa-check-circle fa-lg"></i>
                                    </div>
                                </a>
                            </div>
                        </section>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
