
<blockquote>
    <div class="blockquote__inner">
        <div class="blockquote__text-holder">
            <div class="blockquote__text">Egghead is the best training I’ve seen so far – cutting edge with the latest subjects, frameworks, languages – no bull••••!</div>
            <div class="blockquote__caption">@@Blackendjero</div>
        </div>
        <div class="blockquote__cta-holder">
            <a href="/stories" class="blockquote__cta">read more<br>success stories</a>
        </div>
    </div>
</blockquote>