<div class="hundreds-free-videos">
    <div class="hundreds-free-videos__inner">
        <div class="hundreds-free-videos__text-holder">
            <div class="hundreds-free-videos__pretitle"></div>
            <h3 class="hundreds-free-videos__title">Huge selection of front-end developer screencasts!</h3>
            <div class="hundreds-free-videos__amount">1608 lessons - 80 specialized courses</div>
            <ul class="hundreds-free-videos__benefits">
                <li>
                    <img class="icon" src="~/Images/icons/icon-code-147a9ae06af39391184277487f475ca7.svg" alt="Icon code" />
                    <span>Watch top coders problem-solve in real time</span>
                </li>
                <li>
                    <img class="icon" src="~/Images/icons/icon-time-e5f9fdd917556517c1ac0cb6740392cc.svg" alt="Icon time" />
                    <span>Increase your knowledge in bite-sized chunks. Lessons are concise, with most under 10 minutes long.</span>
                </li>
                <li>
                    <img class="icon" src="~/Images/icons/icon-book-563a36f2ebeff380d5d6d4fd9d0c70bb.svg" alt="Icon book" />
                    <span>Gain access to all the code and transcripts</span>
                </li>
            </ul>
        </div>
        <div class="hundreds-free-videos__animation-holder">
            <img class="hundreds-free-videos__animation" src="~/Images/hundreds-of-free-video-tutorials-fa61f8b47bda3fc6ba02b683ce682bd9.gif" alt="Hundreds of free video tutorials" />
        </div>
    </div>
</div>

