<div class="join-elite">
    <div class="join-elite__inner">
        <div class="join-elite__thingies">
            <img src="~/Images/join-elite-thingies-9881d780bf9db149cae0841dbf40f51c.png" alt="Join elite thingies" />
        </div>
        <h2 class="join-elite__title">Join the Programming Elite</h2>
        <ul class="join-elite__benefits">
            <li class="join-elite__benefit">
                <div class="benefit__image-holder">
                    <img class="benefit__image" src="~/Images/join-elite-better-career-opportunities-ff27552ddd5873eb35f45ba7f7910c5f.png" alt="Join elite better career opportunities" />
                </div>
                <div class="benefit__description-holder">
                    <h3 class="description-title">Better career opportunities</h3>
                    <p class="description-text">Get the promotion, join your dream company, or strike out on your own. We help you take control of your career.</p>
                </div>
            </li>
            <li class="join-elite__benefit">
                <div class="benefit__image-holder">
                    <img class="benefit__image" src="~/Images/join-elite-stay-up-to-date-c19144be82dcb894c41bf2c8075436e2.png" alt="Join elite stay up to date" />
                </div>
                <div class="benefit__description-holder">
                    <h3 class="description-title">Stay up-to-date</h3>
                    <p class="description-text">Front-end frameworks evolve at the speed of light. We keep you speeding right along side them.</p>
                </div>
            </li>
            <li class="join-elite__benefit">
                <div class="benefit__image-holder">
                    <img class="benefit__image" src="~/Images/join-elite-confidence-and-expertise-8ff40c6b941115fb54f5ad91f98bf5dd.png" alt="Join elite confidence and expertise" />
                </div>
                <div class="benefit__description-holder">
                    <h3 class="description-title">Confidence & expertise</h3>
                    <p class="description-text">Take the lead and step into the top tiers of programming. You’ll gain expert skills that put you among the best.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
