@{
    ViewBag.Title = "Home-Index";
    int[] aTest = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 };
    int[] bTest = { 1, 2, 3, 4 };
    int[] cTest = { 1, 2, 3, 4, 5, 6 };
}

<div class="ready-to-dive-in">
    <div class="ready-to-dive-in__inner">
        <h2 class="ready-to-dive-in__title">What do you want to learn?</h2>
        <h4 class="ready-to-dive-in__subtitle">Start watching hundreds of free video lessons now.</h4>
        <div class="search-field__holder huge">
            <input type="text" class="search-field__input" placeholder="type what you want to learn here...">
            <button type="button" class="search-field__submit">
                <i class="icon icon-search"></i>
            </button>
        </div>
    </div>
</div>
